@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-image: url("images/bg4.jpg");
}

#heading-div {
    text-align: center;
    margin-top: 140px;
}

#desc {
    font-size: 13px;
}

#heading {
    font-size: 50px;
    font-weight: 900;
}

.container {
    background-color: rgba(0, 0, 0, 0.548);
    width: 90vh;
    /* height: 40vh; */
    max-width: 37.5em;
    padding: 3em 2.5em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.62em;
    box-shadow: 0.4em 1em 2em rgba(0, 0, 0, 0.331);
}

.search-wrapper {
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1.25em;
    justify-content: center;
    align-content: center;
}

.search-wrapper button {
    font-size: 0.9em;
    background-color: #00000091;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(197, 197, 197);
    padding: 0.8em 0;
    border-radius: 1.5em;
}

.search-wrapper button:hover {
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-weight: 800;
    border: 1px solid rgb(0, 0, 0);
    transition: 0.3s;
    cursor: pointer;
}

.search-wrapper input {
    background-color: rgba(0, 0, 0, 0.499);
    font-size: 0.9em;
    padding: 0 0.62em;
    outline: none;
    color: #ffffff;
    border: 0.5px solid #000000;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.search-wrapper input:focus{
    background-color: transparent;
    color: #ffffff;
    border: 0.1px solid #ffffff;
}

#result {
    margin-top: 2em;
}

.container .flag-img {
    display: block;
    width: 40%;
    min-width: 7.5em;
    margin: 2em auto 1.2em auto;
}

.container h2 {
    font-weight: 600;
    color: #e8e8e8;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1.8em;
}

.data-wrapper {
    margin-bottom: 1em;
    letter-spacing: 0.3px;
}

.container h4 {
    display: inline;
    font-weight: 500;
    color: #ffffff7d;
}

.container span {
    color: #ffffff;
}

.container h3 {
    text-align: center;
    font-size: 0.8em;
    font-weight: 400;
    color: #ff5050;
}

@media only screen and (max-width: 550px) {
    #heading {
        font-size: 32px;
    }
    #desc {
        font-size: 11px;
    }
    .container {
        width: 80%;
        padding: 3em 2em;
        justify-content: center;
    }
    .search-wrapper button {
        font-size: 0.6em;
        padding: 0.9em 0.5em;
    }
    .search-wrapper {
        grid-template-columns: 7fr 1fr;
        gap: 1em;
    }
    .search-wrapper input {
        font-size: 0.7em;
        padding: 0 0.62em;
        width: 45vw;
    }
    .container h2 {
        font-size: 1.2em;
    }
    .data-wrapper {
        font-size: 0.65em;
    }
}










